body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
}

ul {
	list-style-type: none;
}

.parallax{
	background-image:url("/nfs/homes/mneri/discovery_piscine/Rush/images/spongebob.jpg");
	min-height: 100%;
	width: calc(200px + 100%);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.parallax2{
	background-image:url("/nfs/homes/mneri/discovery_piscine/Rush/images/krustykrab.png");
	height: 100%;
	width: calc(200px + 100%);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.parallax3{
	background-image:url("/nfs/homes/mneri/discovery_piscine/Rush/images/phone.jpeg");
	min-height: 100%;
	width: calc(200px + 100%);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.navBar{
	height: 100%;
	width: 200px;
	background-color: rgb(22, 210, 235);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
}

.profilePic{
	height: 200px;
	width: 200px;
	background-image: url("/nfs/homes/mneri/discovery_piscine/Rush/images/profilepic.jpeg");
	border-radius: 50%;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	border: 1px solid black;
	border-collapse: collapse;
}

.hit-the-floor {
	color: #fff;
	font-size: 35px;
	font-weight: bold;
	font-family: Helvetica;
	padding: 0;
	text-shadow: 
	  0 1px 0 #ccc, 
	  0 2px 0 #c9c9c9, 
	  0 3px 0 #bbb, 
	  0 4px 0 #b9b9b9, 
	  0 5px 0 #aaa, 
	  0 6px 1px rgba(0,0,0,.1), 
	  0 0 5px rgba(0,0,0,.1), 
	  0 1px 3px rgba(0,0,0,.3), 
	  0 3px 5px rgba(0,0,0,.2), 
	  0
}

.about{
	font-size: 40px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;	
	animation: pulse 1.5s ease-in-out infinite;
}

.resume-description {
	font-size: 30px;
	font-family: 'Comic Sans MS', cursive, sans-serif;
	color: #ffffff;
	line-height: 1.5;
	margin: 30px 0;
	max-width: 800px; /* adjust this value as needed */
  }
.resume-name {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 10px;
	animation: pulse 1.5s ease-in-out infinite;
	margin-bottom: 0.2em;
  }

  .email {
	position: absolute;
	bottom: 1000px;
	left: 1000px;
	transform: translateX(-50%);
	font-size: 40px;
	font-weight: bold;
	color: rgb(255, 81, 0);
	z-index: 1;
	animation: pulse 1.5s ease-in-out infinite;
  }
  
  .resume-job {
	font-size: 30px;
	font-weight: normal;
	color: #666;
	margin-bottom: 20px;
	animation: slide 1s ease-in-out infinite;
	margin-top: 0;
	padding-top: 0;
  }
  
  .instagram {
	background-image: url("/nfs/homes/mneri/discovery_piscine/Rush/images/instagram.jpeg");
	background-position: center;
	border-radius: 30%;
	margin-bottom: 300px;
	height: 100px;
	width: 100px;
  }
  
  .twitter {
	background-image: url("/nfs/homes/mneri/discovery_piscine/Rush/images/twitter.jpg");
	background-position: center;
	background-size: 200%;
	margin-left: 20px;
	margin-bottom: 300px;
	border-radius: 30%;
	height: 100px;
	width: 100px;
  }

  .github {
	background-image: url("/nfs/homes/mneri/discovery_piscine/Rush/images/github.jpg");
	background-position: center;
	background-size: 240%;
	border-radius: 500%;
	margin-left: 20px;
	margin-bottom: 300px;
	height: 110px;
	width: 110px;
  }


  @keyframes pulse {
	0% {
	  transform: scale(1);
	}
	50% {
	  transform: scale(1.2);
	}
	100% {
	  transform: scale(1);
	}
  }
  
  @keyframes slide {
	0% {
	  transform: translateX(0);
	}
	50% {
	  transform: translateX(10px);
	}
	100% {
	  transform: translateX(0);
	}
  }